/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');

$font-family-sans-serif: 'Titillium Web';
$font-family-monospace: 'Fira Code';

/*$font-size-root: 18;*/
$line-height-base: 1.25;
$line-height-sm: 1.25;
$line-heigh-lg: 1.5;
